<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <!--<add name="DbConnection" connectionString="Data Source=.;Initial Catalog=DatabaseNameUndecided;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
        <add name="DefaultConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="orders_internalSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.vesigo.com/Projects/OnTime/CustomerWebPortal/ws/orders_internal.asmx"
                binding="basicHttpBinding" bindingConfiguration="orders_internalSoap"
                contract="GetOrders.orders_internalSoap" name="orders_internalSoap" />
        </client>
    </system.serviceModel>
</configuration>